<center><h1>Salut à toi <%= @name %> !</h1><br>
<h4><Ici mon projet de Gossip, tu pourras créer à ta convenance le potion que tu souhaites, tu veux : 
<br>
Parler du bon temps, écrire un article palpitant ou même parler de ta voisine ? 
<br>
<strong>Ici .. Tout est possible !</strong>
<br>
Alors régales toi !</center></h4>